{% extends "base.html" %}
{% block content %}
<table class="panel">
<tr><td class="row">
{% if error %}
<div role="alert" class="flash">{{ error }}</div>
{% endif %}
<form method="post" action="/login{% if request.args.get('next') %}?next={{ request.args.get('next') }}{% endif %}">
  <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
  <table>
    <tr><td><label for="username">Username</label></td>
        <td><input type="text" id="username" name="username" autocomplete="username"></td></tr>
    <tr><td><label for="password">Password</label></td>
        <td><input type="password" id="password" name="password" autocomplete="current-password"></td></tr>
  </table>
  <button type="submit">Log In</button>
</form>
</td></tr>
</table>
{% endblock %}
